<div class="container">
    <h1 *ngIf="isCreateMode">Create Ticket</h1>
    <h1 *ngIf="!isCreateMode">Edit Ticket</h1>
    <form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
        <div class="form-group" [ngClass]="{'error': title.invalid && title.dirty}">
            <label for="title">Ticket Title</label>
            <em *ngIf="title.touched && title.errors?.required">Required</em>
            <input formControlName="title" type="text" class="form-control" placeholder="Ticket title">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <em *ngIf="description.touched && description.errors?.required">Required</em>
            <input formControlName="description" class="form-control" type="text" placeholder="Description">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!ticketForm.valid">Submit</button>
        <button type="button" class="btn btn-default" (click)="goToTicketList()">Cancel</button>
    </form>
</div>