<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Ticket System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                 <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> 
                <a class="nav-link" [routerLink]="['/tickets']" routerLinkActive="active">All Tickets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/create-ticket']" routerLinkActive="active">Create Ticket</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <div class="navbar-header navbar-right">
            <ul class="nav navbar-nav">
                <li>
                     <a [routerLink]="['user/profile']">Welcome John</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->

<div class="container">
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 link-secondary">Ticket System</a></li>
                    <li><a href="#" class="nav-link px-2  link-dark nav-link" [routerLink]="['/tickets']"
                            routerLinkActive="active">All Tickets</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark" [routerLink]="['/create-ticket']"
                            routerLinkActive="active">Create Ticket</a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                </form>

                <a href="#" class="d-block link-dark text-decoration-none" data-bs-toggle="dropdown"
                    aria-expanded="false" [routerLink]="['user/profile']">
                    <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
            </div>
        </div>
    </header>
</div>