<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" (click)="sortBy='ticketNumber'">Ticket Number</th>
        <th scope="col" (click)="changeSort('title')">Title</th>
        <th scope="col">Description</th>
        <th scope="col" (click)="sortBy='createdOn'">Created On</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of visableTickets" [routerLink]="['/tickets',ticket.id]">
        <td>{{ ticket.id }}</td>
        <td>{{ ticket.title }}</td>
        <td>{{ ticket.description }}</td>
        <td>{{ ticket.createdOn | date: "shortDate"}}</td>
      </tr>
    </tbody>
  </table>
</div>