<div class="container">
    <!-- <form [formGroup]="ticketForm" (ngSubmit)="createTicket()"> -->
    <form action="">
        <div class="form-group">
            <label for="title">Ticket Title</label>
            <input formControlName="title" type="text" class="form-control" id="title" placeholder="Ticket title">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input formControlName="description" type="text" class="form-control" id="description"
                placeholder="Description">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
    </form>
</div>